@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  --fg-color-1: hsl(var(--base-color-h), 10%, 10%);
  --fg-color-2: hsl(var(--accent-color-h), 20%, 50%);

  --bg-color-1: hsl(
    var(--base-color-h),
    var(--base-color-s),
    var(--base-color-l)
  );
  --bg-color-2: hsl(var(--accent-color-h), 10%, 20%);

  --accent-color: hsl(var(--accent-color-h), 90%, 20%);

  --page-bg-color: hsl(var(--base-color-h), 30%, 90%);

  --box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);

  --border-radius: 0.25rem;

  font-family: Lato, Avenir, Helvetica, Arial, sans-serif;
  font-size: 24px;
  line-height: 1.5em;

  color: var(--fg-color-1);
  background-color: var(--page-bg-color);
}

/* * {
  outline: 1px solid red;
} */

.container {
  padding: 1rem;
  max-width: 480px;
  margin: 3rem auto;
  background-color: var(--bg-color-2);
  box-shadow: var(--box-shadow);
}

form {
  display: flex;
}

form input {
  flex-grow: 1;
  line-height: 2rem;
  font-size: 1rem;
  border: none;
  padding: 0 2%;
}

form button {
  padding: 0 1rem;
  border: none;
  line-height: 2rem;
  font-size: 1rem;
  background-color: var(--bg-color-1);
  color: var(--fg-color-1);
  text-transform: uppercase;
}

h1 {
  color: var(--fg-color-1);
  background-color: var(--bg-color-1);
  margin: -2rem -2rem 1rem -2rem;
  padding: 0.5em;
  border: 1px solid var(--accent-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

ul {
  list-style: none;
  padding: 0;
  margin: 1rem -2rem;
  box-shadow: var(--box-shadow);
  overflow: hidden;
  border-radius: var(--border-radius);
}

li {
  display: flex;
  padding: 0.5rem;
  margin: 0;
  border-left: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--bg-color-1);
  color: var(--fg-color-1);
  overflow: hidden;
}

li:first-child {
  border-top: 1px solid var(--accent-color);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

li:last-child {
  border-bottom: 1px solid var(--accent-color);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

li input {
  height: 1.5rem;
  width: 1.5rem;
}

li span {
  flex-grow: 1;
  margin: 0 0.5rem;
  color: var(--fg-color-1);
}

li button {
  background-color: transparent;

  color: var(--fg-color-1);
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  padding: 0.5rem;
  margin: -0.5rem;
  transition: all 0.2s;
}

li button:hover {
  background-color: var(--fg-color-1);
  color: var(--bg-color-1);
}

.completed span {
  text-decoration: line-through;
  color: var(--fg-color-2);
}

.empty {
  color: var(--fg-color-1);
  background-color: var(--bg-color-1);
  margin: 1rem -2rem;
  padding: 1rem;
  border: 1px solid var(--accent-color);

  text-align: center;
}

footer {
  font-size: 1.25rem;
  text-align: center;
  font-weight: bold;
  color: var(--bg-color-1);
  background-color: var(--fg-color-1);
  padding: 0.5rem;
  border: 1px solid var(--accent-color);
  box-shadow: var(--box-shadow);
}
